<html>
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Add A Book</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Title" name="title" value="{{
          request.form.title }}">
         <input type="text" placeholder="Author" name="author" value="{{
          request.form.author }}">
          <input type="text" placeholder="ISBN" name="ISBN" value="{{
          request.form.ISBN }}">
        <input class="btn btn-default" type="submit" value="Add">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>