<html>
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Check Your Status</h1>
      <br>
      <form action="" method="post">
          <input type="text" placeholder="TC" name="tc" value="{{
          request.form.tc }}">
        <input class="btn btn-default" type="submit" value="Return">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>