<!DOCTYPE html>
<html>
<body>

<h2>Main Page</h2>

<form action="" method="post">
  <label for="options">Choose options:</label>
  <select id="options" name="options">
        <option value="search">Search A Book</option>
        <option value="add">Add A Book</option>
        <option value="delete">Delete A Book</option>
        <option value="issue">Issue A Book</option>
        <option value="return">Return A Book</option>
        <option value="check">Check Your Status</option>

  </select>
    <input type="submit" value="Go">
</form>

</body>
</html>